h2{
    font-family: "Bebas Neue", serif;
    color: white;
    font-size: 80px;
}
body{
    background: black;
}

h3{
    font-family: "Bebas Neue", serif;
    color: white;
    font-size: 30px;


}
input{
    font-family: "Bebas Neue", serif;
    background: black;
    color: white;
    border: 0;
}


.final{
    position: absolute;
    height: 100px;
    width: 100vw;
    background: rebeccapurple;
    font-family: "Bebas Neue", serif;
    color: white;
}

#time{
    position: absolute;
    background: black;
    bottom: 0;
    height: 50px;
    width: 25%;
}
#copyrights{
    position: absolute;
    background: black;
    height: 50px;
    width: 25%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#socials{
    position: absolute;
    background: black;
    height: 50px;
    width: 25%;
    top: 0;
    right: 0;
}
.final div:last-child p{
    color: red;

    right: 0;
    left: 0;
    margin: auto;
    height: 30px;
    width: 25%;
    position: absolute;
}