h2{
    font-family: "Bebas Neue", serif;
    color: white;
    font-size: 80px;
}
body{
    background: black;
}

h3{
    font-family: "Bebas Neue", serif;
    color: white;
    font-size: 30px;


}
input{
    font-family: "Bebas Neue", serif;
    background: black;
    color: white;
    border: 0;
}
p{
    color: white;
}


.footer{
    position: absolute;
    height: 100px;
    width: 100vw;
    background: rebeccapurple;
}
footer div {
    font-family: "Bebas Neue", serif;
    color: white;
}
#socials{
    position: relative;
    height:100px;
    width: 25%;
    right: 0;
    background: white;
}