body{
    background-image: url("../assets/img/BeFunky-collage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-right: 40px;
    padding-top: 20px;
}
nav a {
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
    transition: color 0.2s ease-in-out;
}
nav a:hover {
     color: white;
     font-size: 25px;
 }
nav a::after {
    content: "■"; /* Bullet icon */
    position: absolute;
    left: 50%;
    bottom: -5px; /* Adjust position */
    transform: translateX(-50%);
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

nav a:hover::after {
    opacity: 1;
}

h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 72px;
}
h2{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 78px;
}
h3{
    font-family: bayon;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 64px;
}
button{
    background: #634C71;
    width: 146px;
    height:43px ;
    border: 1px white solid;
    color: white;
    font-family: "Bebas Neue", serif;
    font-size: 28px;
}