body{
    background:#D3D3D3;
    transition: background-image 0.3s ease-in-out;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    text-align: center;
}
main section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
main section div{
    margin-left: 15px;
    height: 380px;
    width: 300px;
    /*border: 1px solid black;*/

}
main section div:hover{
    /*color: white;*/
    transform: scale(1.05);
}
div {
    transition: transform 0.3s ease-in-out;
}
main h2{
    margin-left: 80px;
    font-family: "Bebas Neue", serif;
    font-size: 30px;
}
main h3{
    font-family: "Bebas Neue", serif;
    font-size: 28px;
    letter-spacing: 1px;
}
main p{
    font-family:Roboto, sans-serif;
    font-size: 20px;
}

.dots::after {
    content: "";
    font-size: 30px;
    display: inline-block;
    animation: dots 1.5s infinite steps(1);
}
@keyframes dots {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: "...."; }
}
#design:hover {
    background: url('../assets/img/backgrounds/designBackground.png') center/cover no-repeat;
}
#development:hover {
    background: url('../assets/img/backgrounds/development.jpg') center/cover no-repeat;

}
#full-package:hover{
    background: url("../assets/img/backgrounds/full.jpg")center/cover no-repeat;
}